@import "reset.css";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Original+Surfer&display=swap&subset=cyrillic');

* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
}
html, body {
    overflow-x: hidden;
}
body {
    font-family: 'Open Sans', sans-serif;
    background: #120585;
    width: 100vw;
}
.swallow-red {
    overflow: hidden;
    position: absolute;
    right: -8%;
    top: -11%;
    width: 24%;
}
.first__desc {
    font-size: 1.8vw;
    line-height: 25px;
    color: white;
    font-family: 'Open Sans', sans-serif;
    position: absolute;
    transform: rotate(90deg);
    margin-left: -49px;
    top: 17%;
}
.first__title {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-top: -11%;
}
.wrapper-first {
    width: 97%;
    height: 100%;
}
.squirrel {
    margin-top: -36%;
    margin-left: -5%;
}
.squirrel-img {
    width: 26%;
}
.first__block {
    display: flex;
    margin-top: -19%;
}
.wrapper-date {
 width: 120%;
}
.first__date__content {
    font-family: 'Original Surfer', cursive;
    color: white;
    position: absolute;
    text-align: center;
    transform: rotate(-13.92deg);
    margin-top: -109%;
    margin-left: 7%;
}
.date__content__item:first-of-type {
    font-size: 25vw;
}
.date__content__item:nth-of-type(2) {
    font-size: 10vw;
}
.date__content__item:last-of-type {
    font-family: 'Open Sans', sans-serif;
    color: #FFF9ED;
    font-weight: 600;
    font-size: 3vw;
    line-height: 88.7%;
}
.first__date {
    position: relative;
    z-index: 2;
}
.wrapper-name {
    width: 100%;
 }
.first__name {
    margin-top: 8%;
    margin-left: -4%;
}
.first__name__text {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 1.5vw;
    line-height: 20px;
    color: #FFF6E4;
    transform: rotate(-5.88deg);
    text-align: center;
    position: absolute;
}
.first__name__text:first-of-type {
    margin-top: 8%;
    margin-left: 18%;
}
.first__name__text:last-of-type {
    margin-top: -13%;
    margin-left: 18%;
}
.swallow-blue {
    width: 18vw;
    margin-top: -12%;
    position: relative;
    z-index: 3;
}
.arms {
    margin-top: -32%;
}
.arms-img {
    position: absolute;
    margin-top: -10%;
    width: 100%;
}
.arms-bc {
    position: relative;
    z-index: -1;
    width: 107%;
    margin: 0 auto;
    margin-left: 3%;
}
.swallow-white {
    position: absolute;
    right: 0;
    margin-top: -34%;
    width: 22vw;
}
.second {
    margin-top: -34%;
}
.second__list {
    display: flex;
}
.second__entrance{ 
position: relative;
}
.wrapper-entrance {
    width: 120%;
}
.wrapper-inf {
    width: 100%;
    margin-top: -27%;
}
.entrance__title {
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    line-height: 20px;
    text-align: center;
    position: absolute;
}
.entrance__title:first-of-type {
    font-size: 8vw;
    transform: rotate(11.24deg);
    margin-top: 45%;
    left: 30%;
}
.entrance__title:last-of-type {
    font-size: 4.5vw;
    margin-top: -47%;
    margin-left: 6%;
    transform: rotate(16.36deg);

}
.cat {
    position: relative;
    z-index: 1;
    margin-top: 33%;
    margin-left: 19%;
    width: 22vw;
}
.second__inf {
    margin-left: -10%;
}
.second__inf__content {
    position: absolute;
    margin-top: -39%;
    left: 57%;
    transform: rotate(-8.88deg);
    text-align: center;
}
h1,
.inf__content__text {
    color: #120585;
}
h1 {
    font-weight: bold;
    font-size: 4.5vw;
    line-height: 74px;
}
.inf__content__text {
    font-size: 1.8vw;
    line-height: 139%;
}
.btn__link {
    font-weight: bold;
    font-size: 46px;
    line-height: 139%;
    color: #120585;
    text-decoration: none;
}



footer {
    margin-top: 15%;
  }
  .footer__list,
  .footer__text {
    position: relative;
    z-index: 1;
    margin-left: 6.5%;
  }
  .footer__list {
      display: flex;
      margin-bottom: 46px;
  }
  .footer__list__item {
      margin-right: 26px;
  }
  .footer__text {
      font-size: 16px;
      line-height: 20px;
      color: #FFF6E5;
      width: 354px;
  }
  .footer__bc {
    margin-top:-34%; 
    width: 100%; 
  }